<div class="container">
<%=form_tag("/users/#{@user.id}/update",{multipart: true}) do%>
<div class="form">
<h1>編集する</h1>
<div class="form-input">
<label for="frame">Your　Name</label>
<input id="frame" name="name" class="Full_name" type="text" value="<%=@user.name %>">
</div>
<div class="form-input">
<label for="erame">Email</label>
<input id="erame" class="email" name="email" type="email" value="<%=@user.email %>">
</div>
<div class="form-input">
<label for="in-rame">自己紹介</label>
<textarea id="in-rame" class="intro" name="intro" type="text"><%=@user.intro %></textarea>
</div>
<div class="form-input">
<label for="prame">Your Photo</label>
<input id="prame"  name="image" type="file" value="<%=@user.image_name %>">
</div>
<input type="submit"  value="保存">
</div>
<% end %>
</div>